<div class="row">
    <div class="col md-6">
        <a routerLink="/" class="btn btn-link">
        <i class="fa fa-arrow-circle-o-left"></i>Back to dashboard
    </a>
    </div>
    <div class="col mb-6"></div>
</div>

<div class="card">
    <div class="card-header">
        Edit Settings
    </div>
    <div class="card-body">
        <form (submit)="onSubmit()">
            <div class="form-group">
                <label class="form-group">Allow Registration</label>
                <input type="checkbox" name="allowRegistration" [checked]="settings.allowRegistration" (change)="settings.allowRegistration = !allowRegistration">
            </div>
            <div class="form-group">
                <label class="form-group">Disable balance change on add</label>
                <input type="checkbox" name="disableBalanceOnAdd" [checked]="settings.disableBalanceOnAdd" (change)="settings.disableBalanceOnAdd = !disableBalanceOnAdd">
            </div>
            <div class="form-group">
                <label class="form-group">Disable balace change when editing</label>
                <input type="checkbox" name="disableBalanceOnEdit" [checked]="settings.disableBalanceOnEdit" (change)="settings.disableBalanceOnEdit = !disableBalanceOnEdit">
            </div>

            <input type="submit" value="submit" class="btn btn-dark btn-block">
        </form>
    </div>
</div>